@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #7eb6f53b;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
}

.appContainer {
  width: 100%;
  min-height: 100dvh;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

@media (min-width: 768px) {
  .appContainer {
    width: 390px;
    height: 844px;
    min-height: 844px;
  }
}
