@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Pretendard", sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #7eb6f53b;
}

.appContainer {
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
}
